h2 {
    text-align: center;
    margin: 20px 0;
    /* color: #1ea0fa; */
    font-size: 30px;
}
div {
    font-family:'微软雅黑';
}
* {
    touch-action: pan-y;
}
.ivu-radio-inner {
    border: 1px solid gray;
} 
.ivu-checkbox-inner {
    border: 1px solid gray;
}
.ivu-input {
    border: 1px solid gray;
}
.ivu-form .ivu-form-item-label {
    font-size: 16px;
    font-weight:bold;
}
.ivu-radio-wrapper {
    font-size: 16px;
}
.ivu-checkbox-wrapper {
    font-size: 16px;
}
.ivu-form-item-error-tip {
    left: 20px;
}
/* .ivu-btn {
    width: 80%;
    margin: 0 0 0 12%;
} */
.layout{
    border: 1px solid #d7dde4;
    background: #f5f7f9;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
}
.layout-logo{
    width: 100px;
    height: 30px;
    background: #5b6270;
    border-radius: 3px;
    float: left;
    position: relative;
    top: 15px;
    left: 20px;
}
.m_sider {
    height: auto;
}
.layout-nav{
    width: 420px;
    margin: 0 auto;
    margin-right: 20px;
}
.layout-footer-center{
    text-align: center;
}
.body {
    width: 100%;
    padding: 0 40px 0 20px;
}
.interval {
    margin: 0 0 40px 0;
}
.move_l {
    margin: 0 0 0 20px;
}
.in1 {
    width: 100%;
    margin: 0 0 0 20px;
}
.in2 {
    width: 100%;
    margin: 0 0 0 20px;
}
/* .e_date1 {
    width: 100%;
    margin: 0 0 0 20px;
} */